/**
 * OfficialHeader.css
 * Jordan Mathewson - 250868197
 * CS3319A - Assignment #3
 */

.header {
    padding: 0 10px;
    font-size: 14px;
}

.headerAttribute {
    display: inline-block;
    text-decoration: underline;
}

.idHeaderAttribute {
    composes: headerAttribute;
    width: 10%;
}

.lastNameHeaderAttribute {
    composes: headerAttribute;
    width: 30%;
}

.firstNameHeaderAttribute {
    composes: headerAttribute;
    width: 30%;
}

.homeHeaderAttribute {
    composes: headerAttribute;
    width: 30%;
}
